= form_for @team, url: { action: @url } do |f|
  = render 'shared/error_messages', object: @team
  %span.required *
  = f.label :project_id, "Project"
  = f.select :project_id, options_for_select(Project.all.map{ |p| [p.name, p.id] }, selected_key = f.object.project_id), :include_blank => 'Please Select a Project'
  %span.required *
  = f.label :name, "Name"
  = f.text_field :name
  %span.required *
  = f.label :google_drive, "Google Drive Link"
  = f.text_field :google_drive
  = f.label :trello_link, "Trello Link"
  = f.text_field :trello_link
  = f.submit "Submit"