%h1 Teams
.maincontent#maincontent
  - if @teams.empty?
    %p No team was created.
  - else
    = form_tag("teams/delete_teams", method: "post") do
      %table.soothing.zentable
        %tr
          %thead
            %th
            %th Name
            %th Project
            %th Google Drive
            %th Team Members
            %th
        - @teams.each do |t|
          %tr{ href: team_path(t.id) }
            %td{style: 'text-align: center'}= check_box_tag 'team[]', t.id
            %td= t.name
            %td= Project.find(t.project_id).name
            %td
              %a{ href: "#{t.google_drive}", target: "_blank"} Google Drive
            %td
              - @students = Student.where(:team_id => t.id)
              - @students.each do |s|
                %a{ href: student_path(s.id), style: "margin-right: 8px" }= s.full_name
            %td
              %a.wdn-button.wdn-button-triad{ href: team_path(t.id) } Show
      %span{ style: 'font-size: 25px; color: #979797' } &#8627;
      - if current_user.utype == "admin" || current_user.utype == "instructor"
        = submit_tag 'Delete', {style: 'font-size: 10px; background: rgb(224, 95, 84)', confirm: 'Are you confirm to delete?'}
      %a.wdn-button.wdn-button.energetic{ href: "#" } Send Email