%h1 Teams
.maincontent#maincontent
  - if @teams.empty?
    %p No team was created.
  - else
    = form_tag("teams/delete_teams", method: "post") do
      %table.zentable
        %tr
          %thead
            %th
            %th Name
            %th Project
            %th
        - @teams.each do |t|
          %tr{ href: team_path(t.id) }
            %td{style: 'text-align: center'}= check_box_tag 'team[]', t.id
            %td= t.name
            %td= Project.find(t.project_id).name
            %td
              %a.wdn-button.wdn-button-triad{ href: team_path(t.id) } Show
      %span{style: 'font-size: 25px;'} &#8627;
      = submit_tag 'Delete', {style: 'font-size: 10px; background: rgb(224, 95, 84)', confirm: 'Are you confirm to delete?'}