- if @team.nil?
  .maincontent#maincontent
    %h1 You haven't been assigned to any team.
- else
  %h1= @team.name
  %hr
  .wdn-main#maincontent
    %h4 Members
    = form_tag("/teams/unassign-students", method: "post") do
      = render 'shared/error_messages'
      %table
        %thead
          - if current_user.utype != "student" && current_user.utype != "sponsor"
            %th
          %th Name
          %th Email
        - @team.students.each do |s|
          %tr
            - if current_user.utype != "student" && current_user.utype != "sponsor"
              %td
                = check_box_tag 'student[]', s.id
            %td
              %a{href: student_path(s.id) }= s.full_name
            %td
              %a.wdn-icon-mail{href: "mailto:#{s.email}"}= s.email
      - if current_user.utype != "student" && current_user.utype != "sponsor"
        %div{style:"float: left"}
        %span{style: 'font-size: 25px;'} &#8627;
        = submit_tag "Unassign", {style: 'font-size: 10px !important; background: rgb(224, 95, 84)', confirm: 'Are you confirm to unassign students?'}
    - if instructor? || sponsor? || (@team.has_user? current_user)
      - if @team.google_drive.present?
        %h5
          Google Drive:
          %a{href: @team.google_drive, style: "font-weight: 100"}= @team.google_drive
      - if @team.trello_link.present?
        %h5
          Trello:
          %a{href: @team.trello_link, style: "font-weight: 100"}= @team.trello_link
- if current_user.utype != "student" && current_user.utype != "sponsor"
  %a.wdn-button.wdn-button-triad{ href: edit_team_path(@team.id)} Edit