%h2 iLab Login
.wdn-main#maincontent
  .wdn-grid-set
    .wdn-col-three-fifths.zenbox.primary
      = render 'shared/error_messages'
      = form_for :session, url: sessions_path do |f|
        %fieldset
          %legend Please fill your username and password
          %ol
            %li
              = f.label :name, required("Name")
              = f.text_field :name
            %li
              = f.label :password, required("Password")
              = f.password_field :password
            %li.reqnote
              %span.required *
              denotes required field
            = f.submit 'Login'
            %input.wdn-button.wdn-button-energetic{type: "reset", value: "CLEAR", name: "reset", style: "color: #a5a5a5"}
            %a{href: "#{root_url}reset-password"} Fogot Password?
            %h4.inline{style: 'float: right'}
              %a{href: "register"}Sign Up

    .wdn-col-two-fifths
      %ul
        %h4 CONTACT US
        %li.content-li
          %p If you have any problem, please contact us.
          .wdn-contact-wrapper
            .vcard
              %p.wdn-icon-mail
                %a{href: "mailto:innovationLab@cse.unl.edu"} innovationLab@cse.unl.edu
              %p.wdn-icon-phone
                402-1234567
              %p.adr.wdn-icon-location
                Hixson-Lied College of Fine and Performing Arts
                102 Woods Art Building
                Lincoln, NE 68588-0144
