%h2 Reset Password
= render 'shared/error_messages'
.wdn-main#maincontent
  .wdn-grid-set
    .wdn-col-three-fifths.zenbox.primary
      = form_for :session, url: 'sessions/temporary_password' do |f|
        %fieldset
          %legend Please fill your username and email (Temporary password will be sent to your mailbox)
          %ol
            %li
              = f.label :name, required("Name")
              = f.text_field :name
            %li
              = f.label :email, required("Email")
              = f.text_field :email
            %li.reqnote
              %span.required *
              denotes required field
            = f.submit 'Submit'
            %input.wdn-button.wdn-button-energetic{type: "reset", value: "CLEAR", name: "reset", style: "color: #a5a5a5"}

    .wdn-col-two-fifths
      %ul
        %h4 CONTACT US
        %li.content-li
          %p If you have any problem, please contact us.
          .wdn-contact-wrapper
            .vcard
              %p.wdn-icon-mail
                %a{href: "mailto:innovationLab@cse.unl.edu"} innovationLab@cse.unl.edu
              %p.wdn-icon-phone
                402-1234567
              %p.adr.wdn-icon-location
                Hixson-Lied College of Fine and Performing Arts
                102 Woods Art Building
                Lincoln, NE 68588-0144