- if @student_preferences.empty?
  No one applied for this project
- else
  = form_for :preferences, url: update_sponsor_preferences_path(@sponsor.id), method: 'post' do |f|
    %table.primary
      %tr
        %thead
          -#%th
          %th Student Name
          %th Project Name
          %th Proposal
          %th Student Preference
          %th Sponsor Preference
          -#%th
      -@student_preferences.each do |sp|
        %tr
          -#%td{style: 'text-align: center'}= check_box_tag 'student_preference[]', sp.id
          %td
            %a{href: student_path(sp.student_id)}= sp.student.full_name
          %td
            %a{ href: project_path(sp.project.id), title: 'Show Project' }=sp.project.name
          %td
            - if sp.project.proposal?
              %a{href: "#{sp.project.proposal.url}"}= sp.project.proposal_file_name
            - else
              No Proposal
          %td
            = sp.rating
          %td
            - @sponsor_preference = sp.student.sponsor_preferences.find{ |s| s.project == sp.project }

            - if @sponsor_preference.nil?
              = select_tag "rating[#{sp.id}][]", options_for_select([0, 1, 2, 3, 4, 5]), :prompt => "Please Select", :class => "no-margin"
            - else
              = select_tag "rating[#{sp.id}][]", options_for_select([0, 1, 2, 3, 4, 5], @sponsor_preference.rating), :class => "no-margin"
          -#%td
          -#  %a.wdn-button.wdn-button-triad{ href: edit_student_preference_path(sp.id) } Edit
    = f.submit "Save", style: "float: right; background: rgb(231, 172, 126)"
