-#=javascript_include_tag 'sponsor_preferences'
- if @student_preferences.empty?
  No one applied for this project
- else

  = render 'shared/error_messages'
  = form_for :preferences, url: update_sponsor_preferences_path(@sponsor.id),
   method: 'post', remote: true, html: { class: "sponsor-preferences" } do |f|
    = hidden_field_tag :project_id, @project_id
    %table.primary
      %tr
        %thead
          -#%th
          %th Student Name
          %th Project Name
          %th Proposal
          %th Student Preference
          %th I think this student is a good fit for my project
          -#%th
      -@student_preferences.each do |sp|
        %tr
          -#%td{style: 'text-align: center'}= check_box_tag 'student_preference[]', sp.id
          %td
            %a{href: student_path(sp.student_id)}= sp.student.full_name
          %td
            %a{ href: project_path(sp.project.id), title: 'Show Project' }=sp.project.name
          %td
            - if sp.project.proposal?
              %a{href: "#{sp.project.proposal.url}"}= sp.project.proposal_file_name
            - else
              No Proposal
          %td
            %a{ href: student_preference_path(:student_id => sp.student_id, :id => sp.id), target: "_blank"}= sp.rating
          %td
            - @sponsor_preference = sp.student.sponsor_preferences.find{ |s| s.project == sp.project }

            - if @sponsor_preference.nil?
              = select_tag "rating[#{sp.id}][]", options_for_select(@rating_options.collect {|p| [ p['label'], p['value'] ] }), :prompt => "Please Select", :class => "no-margin"
            - else
              = select_tag "rating[#{sp.id}][]", options_for_select(@rating_options.collect {|p| [ p['label'], p['value'] ] }, @sponsor_preference.rating), :class => "no-margin"
          -#%td
          -#  %a.wdn-button.wdn-button-triad{ href: edit_student_preference_path(sp.id) } Edit
    = f.submit "Save", style: "float: right; background: rgb(231, 172, 126)"
