%h1 Sponsor Preferences
.wdn-main#maincontent
  - if @sponsor_preferences.empty?
    %p No Student Preferences.
  - else
    %table.soothing
      %tr
        %thead
          %th Project
          %th Sponsor
          %th Student
          %th Sponsor Rating
          %th Student Rating
          %th
      -@sponsor_preferences.each do |sp|
        %tr
          %td
            %a{href: project_path(sp.project_id)}= sp.project.name
          %td
            %a{href: sponsor_path(sp.sponsor.id)}= sp.sponsor.full_name
          %td
            %a{href: student_path(sp.student_id)}= sp.student.full_name
          %td= sp.rating
          - @student_preference = StudentPreference.where(:student_id => sp.student_id, :project_id => sp.project_id).first
          %td
            - if !@student_preference.nil?
              %a{href: student_preference_path(:student_id => sp.student_id, :id => @student_preference.id)}= @student_preference.rating
          %td Show
