%h2= "Task: " + @event.name

- if @event.completed
  %span{style: 'font-size: 12px; color: green;'}
    %u
      %b Completed
- else
  %span{style: 'font-size: 12px; color: red;'}
    %u
      %b Imcompleted
- if @event.team_id != 0 && !@event.team_id.nil?
  %span{style: 'font-size: 12px; margin-left: 8px'} Team Task
- else
  %span{style: 'font-size: 12px; margin-left: 8px'} Personal Task

%hr
.wdn-main#maincontent
  .wdn-col-one-third
    Create by:
    -@profile = User.find(@event.user_id).profile
    %a{href: "mailto:#{@profile.email}", title: "Email to #{@profile.full_name}"}= @profile.full_name
  .wdn-col-one-third= "Create at: #{@event.created_at.strftime("%Y-%m-%d %H:%M:%S")}"
  .wdn-col-one-third= "Update at: #{@event.updated_at.strftime("%Y-%m-%d %H:%M:%S")}"
  %table.table-info{style: "width: 100%; text-align: left"}
    %thead
      %th{style: "width: 20%"}
        %p.t-text Event Name:
      %th
        %p.c-text= @event.name
    - if !@event.team_id.nil?
      %thead
        %th{style: "width: 20%"}
          %p.t-text Assigned to:
        %th
          %p.c-text= @team.name
    %thead
      %th
        %p.t-text Priority:
      %th
        - if @event.priority == 3
          %p.c-text HIGH
        - elsif @event.priority == 2
          %p.c-text MEDIUM
        - else
          %p.c-text LOW
    %thead
      %th
        %p.t-text Start at:
      %th
        %p.c-text= @event.start_at.strftime("%Y-%m-%d")
    %thead
      %th
        %p.t-text End at:
      %th
        %p.c-text= @event.end_at.strftime("%Y-%m-%d")
    %thead
      %th
        %p.t-text Description:
      %th
        %p.c-text= @event.description
    %thead
      %th
        %p.t-text URL:
      %th
        - if @event.url != "http://"
          %a.c-text{href: "#{@event.url}", target: '_blank'}= @event.url
        - else
          %p.c-text No url
