%h1= "Event: " + @event.name
= render 'shared/error_messages'

- if @event.completed
  %span.wdn-button.wdn-button-complete{style: 'font-size: 8px; vertical-align: top'} Completed
- else
  %span.wdn-button.wdn-button-incomplete{style: 'font-size: 8px; vertical-align: top'} Imcomplete
- if @event.team_id != 0 && !@event.team_id.nil?
  %span.wdn-button.wdn-button-team{style: 'font-size: 8px; vertical-align: top'}
    Team Task
- else
  %span.wdn-button.wdn-button-personal{style: 'font-size: 8px; vertical-align: top'}
    Personal Task

%hr
.wdn-main#maincontent
  .wdn-col-one-third
    Create by:
    %a{href: user_path(@user), title: "See user profile"}= @user.profile.full_name
  .wdn-col-one-third= "Create at: #{@event.created_at.strftime("%Y-%m-%d %H:%M:%S")}"
  .wdn-col-one-third= "Update at: #{@event.updated_at.strftime("%Y-%m-%d %H:%M:%S")}"
  %table.table-info{style: "width: 100%"}
    %thead
      %th{style: "width: 20%"}
        %p.t-text Event Name:
      %th
        %p.c-text= @event.name
    - if @event.team_id != 0 && !@event.team_id.nil?
      %thead
        %th{style: "width: 20%"}
          %p.t-text Assigned to:
        %th
          %a.c-text{href: team_path(@event.team_id)}= Team.find(@event.team_id).name
    %thead
      %th
        %p.t-text Priority:
      %th
        - if @event.priority == 3
          %p.c-text HIGH
        - elsif @event.priority == 2
          %p.c-text MEDIUM
        - else
          %p.c-text LOW
    %thead
      %th
        %p.t-text Start at:
      %th
        %p.c-text= @event.start_at.strftime("%Y-%m-%d")
    %thead
      %th
        %p.t-text End at:
      %th
        %p.c-text= @event.end_at.strftime("%Y-%m-%d")
    %thead
      %th
        %p.t-text Description:
      %th
        %p.c-text= @event.description
    %thead
      %th
        %p.t-text URL:
      %th
        - if @event.url != "http://"
          %a.c-text{href: "#{@event.url}", target: '_blank'}= @event.url
        - else
          %p.c-text No url
- if @editable
  %a.wdn-button.wdn-button-triad{href: edit_event_path(@event.id) } Edit
  =link_to "Delete", event_path, :method => :delete, class: "wdn-button wdn-button-energetic", confirm: "Are you confirm to delete this task?"
  - if @event.team_id
    %a.wdn-button.wdn-button-complement{style: "float: right; background: #c0c0c0", href: work_track_team_path(:id => @event.team_id) } Back to Calendar
  - else
    %a.wdn-button.wdn-button-complement{style: "float: right; background: #c0c0c0", href: calendar_path } Back to Calendar
-#%a.wdn-button.wdn-button-incomplete{href: calendar_path, style: "float: right" } Back to Calendar