-#<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
= stylesheet_link_tag "event_calendar"

%h1
  = "Calendar of #{@team.name}"
  %a.wdn-icon-plus.wdn-button.wdn-button-triad{href: new_task_team_path, style: "float: right"} Create Task
  %a.wdn-icon-info.wdn-button.wdn-button-energetic{href: work_track_team_path, style: "float: right; margin-right: 10px"} Work Track
= render 'shared/error_messages'
= hidden_field_tag :from, @from
%hr
.wdn-grid-set-fourths{style: "font-size: 12px"}
  .wdn-col-one-fourth
    .wdn-col-one-half
      .ec-priority-3 &nbsp
    .wdn-col-one-half
      High
  .wdn-col-one-fourth
    .wdn-col-one-half
      .ec-priority-2 &nbsp
    .wdn-col-one-half
      Medium
  .wdn-col-one-fourth
    .wdn-col-one-half
      .ec-priority-1 &nbsp
    .wdn-col-one-half
      Low
  .wdn-col-one-fourth
    .wdn-col-one-half
      .ec-completed-true &nbsp
    .wdn-col-one-half
      Complete

.wdn-main#maincontent
  = raw(event_calendar)
