= form_for @student, url: { action: @url }  do |f|
  = render 'shared/error_messages', object: @student
  %span.required *
  = f.label :email, "Email"
  = f.text_field :email
  %span.required *
  = f.label :first_name, "First Name"
  = f.text_field :first_name
  %span.required *
  = f.label :last_name, "Last Name"
  = f.text_field :last_name
  .bp1-wdn-col-one-third
    %span.required *
    = f.label "Major"
    %ol
      %li
        = f.radio_button :major, "Computer Science"
        = f.label :major_computer_science, "Computer Science"
      %li
        = f.radio_button :major, "Computer Engineering"
        = f.label :major_computer_engineering, "Computer Engineering"
  .bp1-wdn-col-one-third
    %span.required *
    = f.label "Semester"
    %ol
      %li
        = f.radio_button :semester, "Fall"
        = f.label :semester_fall, "Fall"
      %li
        = f.radio_button :semester, "Spring"
        = f.label :semester_spring, "Spring"
  .bp1-wdn-col-one-third
    %span.required *
    = f.label "Availability"
    %ol
      %li
        = f.radio_button :availability, "1"
        = f.label :availability_1, "One Semester"
      %li
        = f.radio_button :availability, "2"
        = f.label :availability_2, "Two Semesters"
  %ol
    %li
    %span.required *
    denotes required field
  = f.submit "Submit"