%h1 Students
%table.zentable
	%tr
		%thead
			%th First Name
			%th Last Name
			%th Email
			%th Major
			%th Semester
			%th Availability
	- @students.each do |s|
		%tr
			%td= s.first_name
			%td= s.last_name
			%td
				%a{href: "mailto:#{s.email}"}= s.email
			%td= s.major
			%td= s.semester
			%td= s.availability
	