%h1 Students
%table.zentable
	%tr
		%thead
			%th First Name
			%th Last Name
			%th Email
			%th Major
			%th Semester
			%th Availability
			%th
	- @students.each do |s|
		%tr{ href: student_path(s.id) }
			%td= s.first_name
			%td= s.last_name
			%td
				%a{href: "mailto:#{s.email}"}= s.email
			%td= s.major
			%td= s.semester
			%td= s.availability
			%td
				%a.wdn-button.wdn-button-triad{ href: student_path(s.id) } Show
	