%h1 Students

%hr All Active Students

= render 'shared/error_messages'

.wdn-main#maincontent
  - if @students.empty?
    No student was created.
  - else
    = form_tag(manage_students_students_path, method: "post") do
      %table.display.cool#sponsor_preferences{style: "font-size: 14px"}
        %thead
          %tr
            %th
              = check_box_tag 'checkAll', ""
            %th Name
            %th Email
            %th Team
            %th Semester
            %th Availability
        %tbody
          - @students.sort! { |a,b| a.last_name.downcase <=> b.last_name.downcase  }.each do |s|
            %tr.thumb{class: "student-status-#{s.status}"}
              %td
                = check_box_tag 'student[]', s.id
                %span.callout.top-left
                  = image_tag s.avatar_url, width: 130, height: 155
                  %hr
                    .disclaimer=s.full_name
              %td
                %a{ href: student_path(s.id) }= s.full_name
              %td
                %a.wdn-icon-mail{href: "mailto:#{s.email}"}= s.email
              %td
                - if s.team
                  %a{ href: team_path(s.team.id) }= s.team_name
                - else
                  Not Assigned
              -#%td= s.major
              %td= s.semester
              %td= s.availability


      -#= label_tag  "team", "Assign to"
      %section.wdn-grid-set
      %div{style:"float: left"}
        %span{ style: 'font-size: 25px;'} &#8627;
        = select_tag 'option', options_for_select(@student_manage_options.collect {|p| [ p['label'], p['value'] ] }), {style: "width: auto"}
        = submit_tag 'submit', {style: 'font-size: 10px !important', confirm: 'Are you confirm the option?', title: "Submit student changes", class: "tooltip"}
