%h1 Past Students

%hr Students That Have Been Deactivated

.wdn-main#maincontent
  - if @students.empty?
    No previous student.
  - else
    = form_tag(manage_students_students_path, method: "post") do
      = render 'shared/error_messages'
      %table.display.cool#students
        %thead
          %tr
            %th
              = check_box_tag 'checkAll', ""
            %th First Name
            %th Last Name
            %th Email
            %th Team
            %th Semester
            %th Availability
            %th
        %tbody
          - @students.each do |s|
            %tr.thumb
              %td
                = check_box_tag 'student[]', s.id
                %span.callout.top-left
                  = image_tag s.avatar_url, width: 130, height: 155
                  %hr
                    .disclaimer=s.full_name
              %td= s.first_name
              %td= s.last_name
              %td
                %a.wdn-icon-mail{href: "mailto:#{s.email}"}= s.email
              %td
                - if s.team
                  %a{ href: team_path(s.team.id) }= s.team_name
                - else
                  Not Assigned
              -#%td= s.major
              %td= s.semester
              %td= s.availability
              %td
                %a{ href: student_path(s.id), style: "border-bottom: 0px", title: "show student" } &#10147; View

      -#= label_tag  "team", "Assign to"
      %section.wdn-grid-set
      %span{ style: 'font-size: 25px; color: #979797' } &#8627;
      = submit_tag 'reactivate', {style: 'font-size: 10px !important;', confirm: 'Are you sure you want to delete this student?'}
      - if current_user.utype == "admin"
        = submit_tag 'delete', {style: 'font-size: 10px !important; background: rgb(224, 95, 84)', confirm: 'Are you sure you want to delete this student?'}
