%h1
  %strong= @student.full_name
  %hr
.wdn-main#maincontent
  = render 'shared/error_messages', object: @student
  - if @student.avatar
    .callout{style: "float: right"}= image_tag @student.avatar.url, size: "150"
  - if @student.team
    %h4= "Team: #{@student.team_name}"
  %h4= "Major: #{@student.major}"
  %h4= "Semester: #{@student.semester}"
  %h4= "Availability: #{pluralize(@student.availability, "semester")}"
  %a.wdn-button.wdn-button-triad{ style:'padding: 10px 15px',href: edit_student_path(@student.id) } Edit