%h1
  %strong= @student.full_name
  %hr
.wdn-main#maincontent
  .wdn-col-one-third= "Create at: #{@student.created_at.strftime("%Y-%m-%d %H:%M:%S")}"
  .wdn-col-one-third= "Update at: #{@student.updated_at.strftime("%Y-%m-%d %H:%M:%S")}"
  %br
  %br
  = render 'shared/error_messages', object: @student
  - if @student.avatar
    .callout{style: "float: right"}= image_tag @student.avatar.url, size: "150"
  - if @student.team
    %h4
      %span Team:
      %a{href: team_path(@student.team.id)}= @student.team.name
  - if @student.team.trello_link.present?
    %h4
      %span Trello:
      %a{href: @student.team.trello_link} Trello
  %h4
    Email:
    %a{href: "mailto:#{@student.email}"}= @student.email
  %h4= "Major: #{@student.major}"
  %h4= "Semester: #{@student.semester}"
  %h4= "Availability: #{pluralize(@student.availability, "semester")}"
  - if current_user.utype == "admin" || current_user.utype == "instructor" || current_user.id == @student.user_id
    %a.wdn-button.wdn-button-triad{ style:'padding: 10px 15px',href: edit_student_path(@student.id) } Edit