%h1 Edit Project Assignments

%h3= @instructor.full_name

= form_tag(update_projects_instructor_path(@instructor.id), method: "post") do
  %table.display.cool
    %thead
      %tr
        %th Assigned to Instructor?
        %th Project Name
        %th Sponsor Name
        %th Semester
        %th Instructors
        %th Status
      %tbody
        - for p in @projects
          %tr
            %td{style: 'text-align: center'}= check_box_tag "project_#{p.id}", p.id, @instructor.projects.include?(p)
            %td
              %a{ href: project_path(p.id) }= p.name
            %td
              %a{href: sponsor_path(p.sponsor_id)}= Sponsor.find(p.sponsor_id).full_name
            %td= p.semester
            %td
              -if p.instructors.empty?
                None
              -else
                -p.instructors.each_with_index do |ins, n|
                  %a{href: instructor_path(ins.id)}= ins.full_name
                  -if n != p.instructors.size - 1
                    %br
            %td
              - if p.active
                - if p.status
                  Approved
                -else
                  Active
              - else
                - if p.status
                  Pending
                - else
                  Past
  = submit_tag("Submit")