%h1
	%strong= @instructor.full_name
= render 'shared/error_messages'
%hr
%h4= "Email: #{@instructor.email}"
%h4= "Classname: #{@instructor.classname}"
%h4= "Semeseter: #{@instructor.semester}"
- if current_instructor?(@instructor.id)
	%a.wdn-button.wdn-button-triad{ href: edit_instructor_path(@instructor.id) } Edit