= form_for @student_preference, url: { action: @url } do |f|
  = render 'shared/error_messages', object: @student_preference
  %span.required *
  = f.hidden_field :student_id, :value => current_user.student.id
  = f.label :student_name, "Student"
  = f.text_field :student_name, :value => current_user.student.full_name, :disabled => true
  %span.required *
  = f.label :project_id, "Project"
  = f.select :project_id, options_for_select(@projects, @project.id)
  %span.required *
  = f.label :rating, "Rating"
  = f.select :rating, [0,1,2,3,4,5], :prompt => "Please Select"
  -# TODO add upload coverletters and resume
  %span.required *
  = f.label :cover_letter, "Cover Letter"
  = f.file_field :cover_letter
  %span.required *
  = f.label :resume, "Resume"
  = f.file_field :resume
  %ol
    %li
    %span.required *
    denotes required field
  = f.submit "Submit", :confirm => "Are you confirm to rate?"