%h1 Student Preferences

.wdn-main#maincontent
  - if @student_preferences.empty?
    %p No Student Preferences.
  - else
    = form_tag("/student_preferences/delete-student-preferences", method: "post") do
      = render 'shared/error_messages'
      %table.display.cool#student_preferences
        %thead
          %tr
            %th
              = check_box_tag 'checkAll', ""
            %th Student
            %th Project
            %th Sponsor
            %th Rating
        -@student_preferences.each do |sp|
          %tr
            %td
              = check_box_tag 'student_preference[]', sp.id
            %td
              %a{href: student_path(sp.student_id)}= sp.student.full_name
            %td
              %a{href: project_path(sp.project_id)}= sp.project.name
            %td
              %a{href: sponsor_path(sp.sponsor.id)}= sp.sponsor.full_name
            %td
              %a{href: "javascript: void(0)", onclick: "window.open('#{student_preference_path(:student_id => sp.student_id, :id => sp.id)}','name','height=750,width=1000');", disabled: true}= sp.rating
      %section.wdn-grid-set
      %span{ style: 'font-size: 25px; color: #979797' } &#8627;
      = submit_tag 'Delete', {style: 'font-size: 10px !important; background: rgb(224, 95, 84)', confirm: 'Are you sure you want to delete this student?'}

