%h1
  %strong= "Rating for " + @student_preference.project.name

= render 'shared/error_messages'

%hr
.wdn-main#maincontent
  .wdn-col-one-third= "Create at: #{@student_preference.created_at.strftime("%Y-%m-%d %H:%M:%S")}"
  .wdn-col-one-third= "Update at: #{@student_preference.updated_at.strftime("%Y-%m-%d %H:%M:%S")}"
  %table.table-info
    %thead
      %th
        %p.t-text Project:
      %th
        %a.c-text{href: project_path(@student_preference.project_id)}= @student_preference.project.name
    %thead
      %th
        %p.t-text Sponsor:
      %th
        %a.c-text{href: sponsor_path(@student_preference.sponsor.id)}= @student_preference.sponsor.full_name
    %thead
      %th
        %p.t-text Student:
      %th
        %a.c-text{href: student_path(@student_preference.student_id)}=@student_preference.student.full_name
    %thead
      %th
        %p.t-text Rating:
      %th
        %p.c-text=@student_preference.rating
    %thead
      %th
        %p.t-text Resume:
      %th
        %a.c-text{href: @student_preference.resume.url}=@student_preference.resume_file_name
    %thead
      %th
        %p.t-text Cover Letter:
      %th
        %a.c-text{href: @student_preference.cover_letter.url}=@student_preference.cover_letter_file_name
- if current_user.utype == "student" && current_user.student.id = @student_preference.student_id
  %a.wdn-button.wdn-button-triad{href: edit_student_preference_path(:student_id => current_user.student.id, :id => @student_preference.id) } Edit