%h1 Users

.maincontent#maincontent
  -if @users.empty?
    No User was created.
  -else
    =form_tag("users/manage_users", method: "post") do
      %table.zentable
        %tr
          %thead
            %th
            %th Username
            %th User Type
            %th
        -@users.each do |u|
          %tr
            %td{style: 'text-align: center; width: 5%'}= check_box_tag 'user[]', u.id
            %td= u.name
            %td= u.utype
            %td
              =link_to 'Show', u, data:{ confirm: 'are you sure?'}
      %span{style: 'font-size: 25px;'} &#8627;
      = select_tag 'utype', options_for_select([['Please Select...', ''], ['instructor', 'instructor'],
      ['admin', 'admin'], ['student', 'student'], ['sponsor', 'sponsor']]), {style: 'width: 20%'}
      = submit_tag 'assign', {style: 'font-size: 10px; background: rgb(79, 199, 146)'}
      = submit_tag 'delete', {style: 'font-size: 10px; background: rgb(224, 95, 84)', confirm: 'Are you confirm to delete?'}
