%h1 Users

= render 'shared/error_messages'

.wdn-main#maincontent
  -if @users.empty?
    No User was created.
  -else
    =form_tag("users/manage-users", method: "post") do
      %table.display#users
        %thead
          %tr
            %th{style: 'text-align: center; width: 5%'}
              = check_box_tag 'checkAll', ""
            %th Username
            %th User Type
            %th
        -@users.each do |u|
          %tr
            %td{style: 'text-align: center; width: 5%'}= check_box_tag 'user[]', u.id
            %td= u.name
            %td= u.utype
            %td
              &#10146;
              =link_to "See Details", u
      %div{style:"float: left"}
        %span{style: 'font-size: 25px;'} &#8627;
        = select_tag 'utype', options_for_select([['Please Select...', ''], ['admin', 'admin'],['Instructor', 'instructor'], ['Student', 'student'], ['Sponsor', 'sponsor']]), {style: 'font-size: 14px; width: auto'}
        = submit_tag 'assign', {style: 'font-size: 10px !important; background: rgb(79, 199, 146)'}
        = submit_tag 'delete', {style: 'font-size: 10px !important; background: rgb(224, 95, 84)', confirm: 'Are you confirm to delete?'}
