%h1 Register

.maincontent#maincontent
	= form_for @user, url: { action: @url } do |f|
		= render 'shared/error_messages', object: @user
		%span.required *
		= f.label :name, "Username"
		= f.text_field :name
		%span.required *
		= f.label :email, "Email"
		= f.email_field :email
		%span.required *
		= f.label :password, "Password"
		= f.password_field :password
		%span.required *
		= f.label :password_confirmation, "Password Confirmation"
		= f.password_field :password_confirmation
		= f.submit "Submit"