%h1= @user.name
= render 'shared/error_messages'
- if @user.utype = "student"
	= render 'student'
- elsif @user.type = "instructor"
	= render 'instructor'
- elsif @user.type = "sponsor"
	= render 'sposnor'
- elsif @user.type = "admin"
	= render 'admin'
- else
	%h1 User type has not been set, please contact an admin to get this fixed.
