%h1 Requests

%hr

.wdn-main#maincontent
  - if @requests.empty?
    No request.
  - else
    = form_tag("requests/manage-requests", method: "post") do
      = render 'shared/error_messages'
      %table.display.cool#requests
        %thead
          %tr
            %th
              = check_box_tag 'checkAll', ""
            %th First Name
            %th Last Name
            %th Team
            %th Start Date
            %th End Date
            %th Approved
            %th Active
            %th
        %tbody
          - @requests.each do |r|
            %tr.thumb
              %td
                = check_box_tag 'request[]', r.id
                %span.callout.top-left
                  = image_tag r.student.avatar_url, width: 130, height: 155
                  %hr
                    .disclaimer=r.student.full_name
              %td= r.student.first_name
              %td= r.student.last_name
              %td
                - if r.student.team
                  %a{ href: team_path(r.student.team.id) }= r.student.team_name
                - else
                  Not Assigned
              -#%td= s.major
              %td= r.start_date.strftime("%Y-%m-%d")
              %td= r.end_date.strftime("%Y-%m-%d")
              %td= r.approved
              %td= r.active
              %td
                %a.wdn-button{ href: request_path(r.id), style: 'font-size: 10px !important; background: #357EC7', title: "show request" } Show

      %section.wdn-grid-set
      %div{style:"float: left"}
        %span{ style: 'font-size: 25px;'} &#8627;
        = select_tag 'option', options_for_select(@request_manage_options.collect {|p| [ p['label'], p['value'] ] }), {style: "width: auto"}
        = submit_tag 'submit', {style: 'font-size: 10px !important', confirm: 'Are you confirm the option?', title: "Submit selected request.", class: "tooltip"}