%h1 Sponsors
-#%style
-#  select {width: auto !important; font-size: 14px !important;}
-#  input {width: auto !important; font-size: 14px !important;}

.maincontent#maincontent
  - if @sponsors.empty?
    %p No Sponsor was created.
  - else
    %table.display#sponsors
      %thead
        %tr
          %th
          %th First Name
          %th Last Name
          %th Organization
          %th Email
          %th
      %tbody
        -@sponsors.each do |s|
          %tr
            %td
              = check_box_tag 'sponsor[]', s.id
            %td= s.first_name
            %td= s.last_name
            %td= s.organization
            %td
              %a.wdn-icon-mail{:href => "mailto:" + s.email }= s.email
            %td
              %a.wdn-button.wdn-button-triad{ href: sponsor_path(s.id) } Show
