%h1 New Sponsor

= form_for @sponsor, url: { action: "create" } do |f|
  = f.label :email, "Email"
  = f.text_field :email
  = f.label :first_name, "First Name"
  = f.text_field :first_name
  = f.label :last_name, "Last Name"
  = f.text_field :last_name
  = f.label :orgnization, "Organization"
  = f.text_field :orgnization
  %label Project Name
  %input{type:"text"}
  %label File &nbsp; (Optional)
  %input{type:"file"}
  = f.submit "Submit"