= form_for @project, url: { action: @url }, :html => {:multipart => true} do |f|
  = render 'shared/error_messages', object: @project
  %span.required *
  = f.label :name, 'Project Name'
  = f.text_field :name, {required: true}
  %span.required *
  = f.label :sponsor_id, 'Sponsor Name'
  - if current_user.sponsor.nil?
    = f.select :sponsor_id, options_for_select(Sponsor.all.map{ |c| [c.full_name, c.id] }, selected_key = f.object.sponsor_id), :include_blank => "Please select a sponsor"
  - else
    = f.select :sponsor_id, options_for_select([[@project.sponsor.full_name, @project.sponsor_id]])
  .wdn-grid-set
    .bp1-wdn-col-one-third
      %span.required *
      =f.label :semester, 'Semester'
      - @year = Time.now.year
      - @semester_fall = "semester_fall_#{@year}"
      - @semester_spring = "semester_spring_#{@year}"
      %ol
        %li
          = f.radio_button :semester, "Fall #{@year}"
          = f.label @semester_fall, "Fall #{@year}"
        %li
          = f.radio_button :semester, "Spring #{@year}"
          = f.label @semester_spring, "Spring #{@year}"
    - if current_user.sponsor.nil?
      .bp1-wdn-col-one-third
        =f.check_box :active
        =f.label :active, 'Approve for student application'
        %br
        =f.hidden_field :status
        - @status = true

    .bp1-wdn-col-one-third
      %ul
        %li
          %span.required *
          =f.label :initial_capacity, 'Initial Capacity'
          =f.text_field :initial_capacity, {value: '4'}
  =f.label :proposal, 'Proposal'
  =f.file_field :proposal
  %ol
    %li
    %span.required *
    denotes required field
  = f.submit "Submit"