%h1 Projects

%hr

.wdn-main.maincontent#maincontent
  - if @projects.empty?
    %p No project was created.
  - else
    = form_tag(manage_projects_path, method: "post") do
      = render 'shared/error_messages'
      %table.display#projects{style: "font-size: 14px"}
        %thead
          %tr
            %th{style: 'text-align: center'}
              = check_box_tag 'checkAll', ""
            %th Project Name
            %th Sponsor Name
            %th Semester
            %th Initial Capacity
            %th Proposal
            %th Active
            %th Status
            %th
        %tbody
          -@projects.each do |p|
            %tr
              %td{style: 'text-align: center'}= check_box_tag 'project[]', p.id
              %td= p.name
              %td
                %a{href: sponsor_path(p.sponsor_id)}= Sponsor.find(p.sponsor_id).full_name
              %td= p.semester
              %td= p.initial_capacity
              %td
                - if p.proposal?
                  %a{href: "#{p.proposal.url}", title: "#{p.proposal_file_name}"}= truncate(p.proposal_file_name, :length => 20, :omission => '...')
                - else
                  No Proposal
              %td
                - if p.active
                  Active
                - else
                  Inactive
              %td
                - if p.status
                  Enabled
                - else
                  Disabled
              %td
                %a.wdn-button.wdn-button-triad{ href: project_path(p.id), style: 'font-size: 10px !important;' } Show
      - if current_user.instructor? || current_user.admin?
        %div{style:"float: left"}
          %span{style: 'font-size: 25px;'} &#8627;
          = select_tag 'option', options_for_select(@project_manage_options.collect {|p| [ p['label'], p['value'] ] }), {style: "width: auto"}
          = submit_tag 'submit', {style: 'font-size: 10px !important; background: #26C7BA;', confirm: 'Are you confirm the option?', title: "Submit selected projects to be enabled/disabled.", class: "tooltip"}
          - if current_user.admin?
            = submit_tag 'deactivate', {style: 'font-size: 10px !important; background: rgb(95, 129, 202)', confirm: 'Are you sure you want to deactivate the selected projects?', title: "Deactivate projects, then it will disappear and show in the past projects.", class: "tooltip"}
          = submit_tag 'delete', {style: 'font-size: 10px !important; background: rgb(224, 95, 84)', confirm: 'Are you sure you want to delete the selected projects?', title: "Delete selected projects.", class: "tooltip"}
