%h1 Projects
.wdn-main.maincontent#maincontent
  = form_tag("projects/manage_projects", method: "post") do
    %table.zentable
      %tr
        %thead
          %th
          %th Project Name
          %th Sponsor Name
          %th Semester
          %th Initial Capacity
          %th Proposal
          %th Active
          %th Status
          %th
      -@projects.each do |p|
        %tr
          %td{style: 'text-align: center'}= check_box_tag 'project[]', p.id
          %td= p.project_name
          %td
            %a{href: sponsor_path(p.sponsor)}= Sponsor.find(p.sponsor).full_name
          %td= p.semester
          %td= p.initial_capacity
          %td
            - if p.proposal?
              %a{href: "#{p.proposal.url}"}= p.proposal_file_name
            - else
              No Proposal Upload
          %td= p.active
          %td= p.status
          %td
            %a.wdn-button.wdn-button-triad{ href: project_path(p.id) } Show
    %span{style: 'font-size: 25px;'} &#8627;
    = submit_tag 'activate', {style: 'font-size: 10px; background: rgb(79, 199, 146)'}
    = submit_tag 'enable', {style: 'font-size: 10px; background: rgb(84, 157, 224)'}
    = submit_tag 'delete', {style: 'font-size: 10px; background: rgb(224, 95, 84)'}