%h1 Past Projects

%hr

.wdn-main.maincontent#maincontent
  - if @projects.empty?
    %p No archived projects now.
  - else
    = form_tag(manage_projects_path, method: "post") do
      = render 'shared/error_messages'
      %table.display.cool#projects
        %thead
          %tr
            %th{style: 'text-align: center'}
              = check_box_tag 'checkAll', ""
            %th Project Name
            %th Sponsor Name
            %th Semester
            %th Instructors
            %th Initial Capacity
            %th Proposal
            %th Status
            %th
            %th
        %tbody
          -@projects.each do |p|
            %tr
              %td{style: 'text-align: center'}= check_box_tag 'project[]', p.id
              %td
                %a{ href: project_path(p.id) }= p.name
              %td
                %a{href: sponsor_path(p.sponsor_id)}= Sponsor.find(p.sponsor_id).full_name
              %td= p.semester
              %td
                -if p.instructors.empty?
                  None
                -else
                  -p.instructors.each_with_index do |ins, n|
                    %a{href: instructor_path(ins.id)}= ins.full_name
                    -if n != p.instructors.size - 1
                      %br
              %td= p.initial_capacity
              %td
                - if p.proposal_file_name != "#{p.name}-Proposal"
                  %a{href: "#{p.proposal.url}", title: "#{p.proposal_file_name}"}= truncate(p.proposal_file_name, :length => 20, :omission => '...')
                - else
                  No Proposal
              %td
                - if !p.active
                  Archived
              %td
              %td
                = button_to "delete", delete_projects_path(:id => p.id), :method => :post
      - if current_user.instructor? || current_user.admin?
        %div{style:"float: left"}
          %span{style: 'font-size: 25px;'} &#8627;
          = select_tag 'option', options_for_select(@past_project_manage_options.collect {|p| [ p['label'], p['value'] ] }), {style: "width: auto"}
          = submit_tag 'submit', {style: 'font-size: 10px !important', confirm: 'Are you confirm the option?', title: "Submit selected projects.", class: "tooltip"}

