%h1= @project.name
%span.wdn-button.wdn-button-complement{style: 'font-size: 8px; vertical-align: top'}
  - if @project.active
    Active
  - else
    InActive
%span.wdn-button.wdn-button-energetic{style: 'font-size: 8px; vertical-align: top'}
  - if @project.status
    Open
  - else
    Close

%a.wdn-button.wdn-button-triad{href: edit_project_path(@project.id), style: 'float: right' } Edit

%hr
.wdn-grid-set
  .wdn-col-one-third= "Create at: #{@project.created_at}"
  .wdn-col-one-third= "Update at: #{@project.updated_at}"
.maincontent#maincontent
  .wdn-grid-set-fifths
    .wdn-col-one-fifth
      %h4.inline Project Name
    .wdn-col-four-fifths= @project.name
  .wdn-grid-set-fifths
    .wdn-col-one-fifth
      %h4.inline Sponsor Name
    .wdn-col-four-fifths
      %a{href: sponsor_path(@project.sponsor)}= Sponsor.find(@project.sponsor).full_name
  .wdn-grid-set-fifths
    .wdn-col-one-fifth
      %h4.inline Initial Capacity
    .wdn-col-four-fifths= @project.initial_capacity
  .wdn-grid-set-fifths
    .wdn-col-one-fifth
      %h4.inline Current Capacity
    .wdn-col-four-fifths= @project.current_capacity
  .wdn-grid-set-fifths
    .wdn-col-one-fifth
      %h4.inline Semester
    .wdn-col-four-fifths= @project.semester
  .wdn-grid-set-fifths
    .wdn-col-one-fifth
      %h4.inline Proposal
    .wdn-col-four-fifths
      - if @project.proposal?
        %a{href: "#{@project.proposal.url}", target: '_blank'}= @project.proposal_file_name
      - else
        No Proposal Upload

