%h1{style:"margin-bottom: 0px"}
  = @project.name
  %span.wdn-button.wdn-button-complement{style: 'margin-left:10px; font-size: 8px;'}
    - if @project.active
      Active
    - else
      InActive
  %span.wdn-button.wdn-button-energetic{style: 'font-size: 8px;'}
    - if @project.status
      Open
    - else
      Close

= render 'shared/error_messages'
%hr
.wdn-main#maincontent
  .wdn-col-one-third= "Create at: #{@project.created_at.strftime("%Y-%m-%d %H:%M:%S")}"
  .wdn-col-one-third= "Update at: #{@project.updated_at.strftime("%Y-%m-%d %H:%M:%S")}"
  %table.table-info
    %thead
      %th
        %p.t-text Project Name:
      %th
        %p.c-text= @project.name
    %thead
      %th
        %p.t-text Sponsor Name:
      %th
        %a.c-text{ href: sponsor_path(@project.sponsor_id) }= @project.sponsor.full_name
    %thead
      %th
        %p.t-text Semester:
      %th
        %p.c-text= @project.semester
    %thead
      %th
        %p.t-text Initial Capacity:
      %th
        %p.c-text= @project.initial_capacity
    %thead
      %th
        %p.t-text Current Capacity:
      %th
        %p.c-text= @project.current_capacity
    %thead
      %th
        %p.t-text Proposal:
      %th
        - if @project.proposal?
          %a.c-text{href: "#{@project.proposal.url}", target: '_blank'}= @project.proposal_file_name
        - else
          %p.c-text No Proposal Upload
- if current_user.instructor? || (current_user.utype == "sponsor" && current_user.sponsor.id == @project.sponsor_id)
  %a.wdn-button.wdn-button-triad{href: edit_project_path(@project.id) } Edit


