%h1
  = "#{@semester} #{@name.capitalize} Solution"
  = link_to "Auto Assign", auto_assign_solution_path, :method => :post, :class => "wdn-button wdn-button-complete tooltip", :style => "float: right", :title => "Auto Assign all Students above to Projects"

%hr

.wdn-main#maincontent
  - if @solution
    %table.display#solution_table
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Project
      %tbody
        - @solution.each do |s|
          %tr
            %td= s["first_name"]
            %td= s["last_name"]
            %td= s["project"]
  - else
    No solution available