!!! 5
%html
    %head
        %title iLab
        = stylesheet_link_tag    "application", media: "all"
        = javascript_include_tag "application" => true
        = csrf_meta_tags
        %body{ data: { version: "4.0"} }
            = render 'wdn/skip_nav'
            #wdn_wrapper
                %input.wdn-content-slide.wdn-input-driver#wdn_menu_toggle{ type: "checkbox", value: "Show navigation menu" }
                = render 'wdn/noscript_padding'
                %header.wdn-content-slide.wdn-band#header{ role: "banner"}
                    = render 'wdn/wdnResources'
                    .wdn-inner-wrapper
                        = render 'wdn/logo'
                        #wdn_resources
                            / = render 'wdn/idm'
                            = render 'wdn/wdnTools'
                        %span#wdn_institution_title University of Nebraska&ndash;Lincoln
                    = render 'wdn/apps'
                    .wdn-inner-wrapper
                        #wdn_site_title
                            %span The Title of My Site
                .wdn-band#wdn_navigation_bar{ role: "navigation" }
                    %nav.wdn-inner-wrapper#breadcrumbs
                        / WDN: see glossary item 'breadcrumbs'
                        %h3.wdn_list_descriptor.wdn-text-hidden Breadcrumbs
                        %ul
                            %li
                                %a.wdn-icon-home{href: "http://www.unl.edu/", title: "University of Nebraska&ndash;Lincoln"} UNL
                            %li
                                %a{ href: "#", title: "Site Title" } Site Title
                            %li
                    #wdn_navigation_wrapper
                        %nav.wdn-band#navigation{ role: "navigation"}
                            %h3.wdn_list_descriptor.wdn-text-hidden Navigation
                            = render 'layouts/navigation'
                            %label.wdn-icon-menu{ for: "wdn_menu_toggle" } Menu
                .wdn-menu-trigger.wdn-content-slide
                    %label.wdn-icon-menu{ for: "wdn_menu_toggle" } Menu
                .wdn-content-slide#wdn_content_wrapper{ role: "main" }
                    .wdn-band
                        .wdn-inner-wrapper
                            #pagetitle
                                %h1 Please Title Your Page Here
                    .wdn-main#maincontent
                        .wdn-band
                            .wdn-inner-wrapper
                                %p Impress your audience with awesome content!
                .wdn-band.wdn-content-slide#wdn_optional_footer
                    .wdn-inner-wrapper
                        / TemplateBeginEditable name="optionalfooter"
                        / TemplateEndEditable
                %footer.wdn-content-slide#footer{ role: "contentinfo" }
                    .wdn-band#wdn_footer_related
                        .wdn-inner-wrapper
                            / TemplateBeginEditable name="leftcollinks"
                            = render 'wdn/relatedLinks'
                            / TemplateEndEditable
                    .wdn-band
                        .wdn-inner-wrapper
                            .footer_col#wdn_footer_contact
                                %h3 Contact Us
                                .wdn-contact-wrapper
                                    = render 'wdn/footerContactInfo'
                            #wdn_copyright
                                .wdn-footer-text
                                    = render 'wdn/footer'
                                    = render 'wdn/wdn'
                            = render 'wdn/logos'
                = render 'wdn/noscript'
